* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --gold: #ad8d49;
  --black: #000000;
}
/* duplicate code with .event class fix it latter */
.ATF-container {
  width: 100vw;
  min-height: auto;
  background-image: url("./images/Background-ATF-image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--white);
}

.ATF-container .logo-DS24-wrapper {
  display: flex;
  height: 34px;
  justify-content: flex-end;
  padding-top: 40px;
  padding-right: 10px;
}

.ATF-container .ATF-content {
  padding-top: 146.5px;
  padding-right: 120px;
  padding-left: 160px;
}

.ATF-container .main-title,
.ATF-container .second-title {
  font-family: Helvetica Neue;
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: bottom;
  text-transform: uppercase;
}

.ATF-container .main-title {
  font-size: 36px;
}

.ATF-container .second-title {
  font-size: 60px;
  margin-bottom: 40px;
}

.ATF-container .subtitle {
  font-size: 30px;
  width: 590px;
  height: 210px;
  margin-bottom: 120px;
}

.ATF-container .logo-DS24-wrapper .logo-DS24-1 {
  width: 33.83px;
  height: 34.31px;
  margin-right: 7px;
}

.ATF-container .logo-DS24-wrapper .logo-DS24-2 {
  width: 151.44px;
  height: 29.35px;
}

.ATF-container .info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.ATF-container .info .info-1,
.ATF-container .info .info-2 {
  display: flex;
}

.ATF-container .info img {
  width: 48px;
  height: 48px;
}

.ATF-container .info .info-1 .info-1-text {
  width: 243px;
  height: 50px;
  font-family: Helvetica Neue;
  font-weight: 400;
  font-size: 21px;
  line-height: 120%;
  letter-spacing: 0%;
  margin-left: 10px;
}

.ATF-container .info .info-2 .info-2-text {
  width: 243px;
  height: 50px;
  font-family: Helvetica Neue;
  font-weight: 400;
  font-size: 21px;
  line-height: 120%;
  letter-spacing: 0%;
  margin-left: 10px;
}

.ATF-container .ATF-button {
  color: var(--white);
  background-color: var(--gold);

  width: 327px;
  height: 58px;
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;

  font-family: Helvetica Neue;
  font-weight: 500;
  font-size: 21px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 1201px) {
  .ATF-container .ATF-button {
    font-size: 14px;
    padding-top: 8px;
    padding-right: 18px;
    padding-bottom: 8px;
    padding-left: 18px;
  }
}

@media (max-width: 1024px) {
  .ATF-container .ATF-content {
    padding-left: 32px;
    padding-right: 32px;
  }

  .ATF-container .main-title {
    font-size: 24px;
    text-align: left;
    word-wrap: break-word;
  }

  .ATF-container .second-title {
    font-size: 30px;
    text-align: left;
    word-wrap: break-word;
  }

  .ATF-container .subtitle {
    width: auto;
    height: auto;
  }

  .ATF-container .info {
    flex-direction: column;
    gap: 20px;
  }

  .ATF-container .info .info-1,
  .ATF-container .info .info-2 {
    flex-direction: row;
    align-items: center;
  }

  .ATF-container .info .info-1 .info-1-text,
  .ATF-container .info .info-2 .info-2-text {
    width: auto;
    height: auto;
  }
}

@media (max-width: 475px) {
  .ATF-container .ATF-content {
    padding-left: 16px;
    padding-right: 16px;
  }

  .ATF-container .subtitle {
    width: 100%;
    height: auto;
    font-size: 20px;
  }

  .ATF-container .ATF-button {
    width: 100%;
    max-width: 100%;
    font-size: 18px;
    padding: 16px;
    margin-bottom: 10px;
  }

  .ATF-container .info {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .ATF-container .info img {
    width: 32px;
    height: 32px;
  }

  .ATF-container .info .info-1 .info-1-text,
  .ATF-container .info .info-2 .info-2-text {
    width: 100%;
    font-size: 16px;
  }
}

.intro {
  background-color: var(--gold);
  padding: 80px 40px;
  color: var(--white);
}

.intro .intro-1 {
  margin-bottom: 50px;
}

.intro .intro-1,
.intro .intro-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro .intro-1 .intro-1-text {
  font-family: Helvetica Neue;
  font-weight: 500;
  font-size: 21px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 40px;
}
/* duplicate code with .event fix it later */
.intro .intro-1 .intro-button {
  padding: 16px 24px 30px;
  color: var(--white);
  background-color: var(--black);
  width: 100%;
  max-width: 600px;
  height: 26px;
  font-family: Helvetica Neue;
  font-weight: 500;
  font-size: 21px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
}

.separator {
  width: 200px;
  border: none;
  height: 5px;
  background-color: var(--white);
  margin: 40px 0;
}

.intro .intro-title {
  font-family: Helvetica Neue;
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.intro .intro-text {
  font-family: Helvetica Neue;
  font-weight: 500;
  font-size: 21px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
}

@media (max-width: 679px) {
  .intro .intro-1 .intro-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 16px;
    font-size: 18px;
  }
}

@media (max-width: 679px) {
  .intro .intro-1 .intro-button {
    font-size: 15px;
  }
}

@media (max-width: 404px) {
  .intro .intro-title {
    font-size: 40px;
  }
}

/* with dinner there is duplicate code , fix that later */
.dinner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dinner .dinnerFood {
  display: flex;
}

.dinner .dinnerFood .title-text {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.dinner .dinnerFood .title-text .title {
  font-family: Helvetica Neue;
  font-weight: 700;
  font-size: 42px;
  line-height: 110%;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-top: 20px;
}

.dinner .dinnerFood .title-text .text {
  font-family: Helvetica Neue;
  font-weight: 400;
  font-size: 21px;
  line-height: 120%;
  letter-spacing: 0%;
}

.dinner .dinnerFood .dinner-image {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.dinner .dinnerParty {
  display: flex;
}

.dinner .dinnerParty .title-text {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.dinner .dinnerParty .dinner-image {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.dinner .dinnerParty .title-text .title {
  font-family: Helvetica Neue;
  font-weight: 700;
  font-size: 42px;
  line-height: 110%;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-top: 20px;
}

.dinner .dinnerParty .title-text .text {
  font-family: Helvetica Neue;
  font-weight: 400;
  font-size: 21px;
  line-height: 120%;
  letter-spacing: 0%;
}

@media (max-width: 1318px) {
  .dinner .dinnerFood .title-text {
    padding: 30px;
  }

  .dinner .dinnerFood .title-text .title {
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 0px;
  }

  .dinner .dinnerParty .title-text .title {
    font-size: 32px;
  }
}

@media (max-width: 1078px) {
  .dinner .dinnerFood {
    display: flex;
    flex-direction: column;
  }
  .dinner .dinnerFood .title-text {
    width: 100%;
    padding: 40px;
  }

  .dinner .dinnerFood .title-text .title {
    margin-bottom: 40px;
    margin-top: 20px;
  }

  .dinner .dinnerFood .dinner-image {
    width: 100%;
  }

  .dinner .dinnerParty {
    display: flex;
    flex-direction: column-reverse;
  }
  .dinner .dinnerParty .title-text {
    width: 100%;
  }

  .dinner .dinnerParty .dinner-image {
    width: 100%;
  }
}

.event {
  width: 100vw;
  min-height: auto;
  background-image: url("./images/Background-event-image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--white);
  padding: 120px;
  position: relative;
}

.event::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(173, 141, 73, 0.7),
    rgba(0, 0, 0, 0)
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}

.event .event-container {
  max-width: 660px;
  width: auto;
}
/* duplicate value for title and text make a mixin later*/
.event .event-title-1 {
  font-family: Helvetica Neue;
  font-weight: 500;
  font-size: 72px;
  line-height: 100%;
  letter-spacing: -4%;
}

.event .event-title-2 {
  font-family: Helvetica Neue;
  font-weight: 500;
  font-size: 42px;
  line-height: 100%;
  letter-spacing: -4%;
}

.event .event-text {
  font-family: Helvetica Neue;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;
}

.event .intro-button {
  padding: 16px 24px 30px;
  color: var(--white);
  background-color: var(--black);
  width: 100%;
  max-width: 453px;
  height: 26px;
  font-family: Helvetica Neue;
  font-weight: 500;
  font-size: 21px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .event .intro-button {
    font-size: 15px;
    height: auto;
    padding: 10px 5px;
  }
}

@media (max-width: 576px) {
  .event {
    padding: 20px;
  }

  .event .event-title-1 {
    font-size: 45px;
  }
  .event .event-title-2 {
    font-size: 30px;
  }
}

.after-event {
  background-color: var(--black);
  width: 100%;
  height: 190;
  padding: 80px 120px;
  display: flex;
  justify-content: center;
}

/* duplicate code make a mixin for it */
.after-event .text {
  font-family: Helvetica Neue;
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: -4%;
  text-align: center;
  color: var(--white);
}

.event-info {
  background-color: var(--gold);
  color: var(--white);
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.event-info .event-info-main-title {
  font-family: Helvetica Neue;
  font-weight: 700;
  font-size: 72px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.event-info .event-info-separator {
  margin: 20px 0;
  width: 100%;
}

.event-info .event-info-container {
  display: flex;
  gap: 10vw;
}

.event-info .event-info-container .event-info-column {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.event-info-element {
  display: flex;
  gap: 10px;
}

.event-info-icon {
  width: 36px;
  height: 36px;
}

.event-info-column .event-info-element .event-info-title {
  font-family: Helvetica Neue;
  font-weight: 500;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: 4%;
  text-transform: uppercase;
}

.event-info-column .event-info-element .event-info-text {
  font-family: Helvetica Neue;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0%;
}

@media (max-width: 768px) {
  .event-info .event-info-container {
    flex-direction: column;
    gap: 30px;
  }

  .event-info .event-info-container .event-info-column {
    gap: 30px;
  }
}

.event-info-btn-container {
  display: flex;
  justify-content: center;
}

/* duplicate code with .event fix it later */
.event-info-btn {
  padding: 16px 24px 30px;
  color: var(--white);
  background-color: var(--black);
  width: 100%;
  max-width: 356px;
  height: 26px;
  font-family: Helvetica Neue;
  font-weight: 500;
  font-size: 21px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
}

@media (max-width: 480px) {
  .event-info .event-info-main-title {
    font-size: 50px;
  }

  .event-info-column .event-info-element .event-info-title {
    font-size: 15px;
  }

  .event-info-column .event-info-element .event-info-text {
    font-size: 12px;
  }

  .event-info-btn {
    margin-top: 10px;
    font-size: 13px;
  }
}

.event-light {
  background-color: var(--gold);
  color: var(--white);
  padding: 50px;
}

.event-light .event-light-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* duplicate code */
.event-light .event-light-container .event-light-title {
  font-family: Helvetica Neue;
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

/* duplicate code */
.event-light .event-light-container .event-light-text {
  font-family: Helvetica Neue;
  font-weight: 500;
  font-size: 21px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
}

/* duplicate code */
.event-light .event-light-container .event-light-btn {
  padding: 16px 24px 30px;
  color: var(--white);
  background-color: var(--black);
  width: 100%;
  max-width: 300px;
  height: 26px;
  font-family: Helvetica Neue;
  font-weight: 500;
  font-size: 21px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
}

@media (max-width: 480px) {
  .event-light .event-light-container .event-light-title {
    font-size: 40px;
  }
}

@media (max-width: 340px) {
  .event-light .event-light-container .event-light-btn {
    font-size: 18px;
  }
}
